.content-files{
    width: 80%;
    float: left;
    height: 92%;
    background: #fff;
    .files {
        cursor: pointer;
        margin: 10px 0;
    }
    .header{
        height: 9%;
        background: #e7e7e775;
        border-bottom: 1px solid transparent;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .content-left{
            // float: left;
            line-height: 54px;
            margin-left: 25px;
            span.glyphicon {
                padding: 3px;
            }
            #uploader{
                appearance: none;
            }
            .float{
                display: inline-block;
                padding: 0 15px;
                cursor: pointer;
                .btn-default{
                    background: none;
                    border: none;
                }
            }
            ul.dropdown-menu li{
                padding: 0 10px;
            }
            ul.dropdown-menu{
                padding: 0;
                    li:hover{
                        background: #e7e7e7;
                    }
            }
            .float:hover{
               background: #e7e7e7;
            }
            .timkiem input{
                line-height: 25px;
            }
        }
        .content-right{
            // float: right;
            line-height: 54px;
            margin-right: 25px;
            span.glyphicon {
                padding-right: 5px;
            }
            .float{
                padding: 0 15px;
                display: inline-block;
                cursor: pointer;
                .btn-default{
                    background: none;
                    border: none;
                }
            }
            ul.dropdown-menu li{
                padding: 0 10px;
            }
            ul.dropdown-menu{
                padding: 0;
                    li:hover{
                        background: #e7e7e7;
                    }
            }
           .float:hover{
              background: #e7e7e7;
            }
            
        }
    }
    .loadfiles{
        position: relative;
        height: 91%;
        padding: 50px 50px;
        .path {
            font-size: 25px;
            padding: 10px 0;
        }
        .example-container {
            display: flex;
            flex-direction: column;
            min-width: 300px;
            height: 85%;
            overflow: auto;
          }
          .example-header {
            min-height: 64px;
            padding: 8px 24px 0;
          }
          .mat-form-field {
            font-size: 14px;
            width: 100%;
          }
          mat-row.mat-row:hover{
            cursor: pointer;
        }
        .active{
            background: #518abbeb;
        }
        .mat-header-cell{
            font-size: 24px;
        }
        .mat-table {
            overflow: auto;
            max-height: 100%;
        }
        mat-cell.mat-cell.cdk-column-name.mat-column-name.ng-star-inserted {
            font-size: 20px;
            color: black;
            span.ng-star-inserted{
                font-size: 35px;
            }
        }
        mat-header-row.mat-header-row.ng-star-inserted {
            background: #9edc9d;
            color: black !important;
        }
        // mat-header-cell.mat-header-cell.ng-tns-c7-2.cdk-column-type.mat-column-type.ng-star-inserted {
        //     flex: 0.7;
        // }
        
        // mat-cell.mat-cell.cdk-column-type.mat-column-type.ng-star-inserted {
        //     flex: 0.7;
        // }
        
        // mat-header-cell.mat-header-cell.ng-tns-c7-0.cdk-column-name.mat-column-name.ng-star-inserted {
        //     flex: 2.2;
        // }
        
        // mat-cell.mat-cell.cdk-column-name.mat-column-name.ng-star-inserted {
        //     flex: 2.2;
        // }
        // mat-header-cell.mat-header-cell.ng-tns-c7-1.cdk-column-date.mat-column-date.ng-star-inserted {
        //     flex: 1.5;
        // }
        
        // mat-cell.mat-cell.cdk-column-date.mat-column-date.ng-star-inserted {
        //     flex: 1.5;
        // }
        .row{
            margin: 0;
            .div{
                span{
                    img.img2{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                    .cover{
                        position: relative;
                    }
                }
                span.glyphicon.glyphicon-file {
                    font-size: 87px;
                }
            }
            .folder-name{
                font-size: 20px;
            }
        }
        .menu-right{
            display: none;
            
        }
        .menu-right-active{
            display: block;
            position: absolute;
            background: #e8e8e8;

            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    padding: 15px 20px;
                    cursor: pointer;
                    a{
                        color: #333;
                    }
                    a:hover{
                        color: #ffffff !important;
                    }
                }
                li:hover{
                    background: #696969;
                    color: #ffffff;
                }
            }
        }
        
    }
    .example-container {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        min-width: 300px;
      }
      
      .mat-table {
        overflow: auto;
        max-height: 100%;
      }
      
      .mat-column-select {
        overflow: visible;
      }
}
.hien{
    width: 60%;
    height: 90%;
}
.details-user{
    width: 20%;
    float:right;
    background: #f4f4f4;
    height: 92%;
    color: #ffffff;
    display: none;
    .div{
        position: relative;
        button{
            position: absolute;
            top: 3%;
            right: 10%;
            color: black;
            font-size: 18px;
            background: transparent;
            border: none;
        }
    }
    .details p {
        margin: 35px 0;
    }
    .taikhoan{
        padding-left: 20px;
        font-size: 23px;
        margin-top: 25px;
        color: #333;
        width: 70%;
    }
    .xinchao{
        padding-left: 25px;
        font-size: 17px;
        color: black;
    }
    .email{
        padding-left: 25px;
        font-size: 17px;
        color: #4e4eec;
    }
    .dangxuat{
        cursor: pointer;
        padding-left: 25px;
        font-size: 20px;
        color: #4e4eec;
        cursor: pointer;
    }
    .hoso{
        padding-left: 25px;
        color: #4e4eec;
        font-size: 17px;
    }
    .taikhoancuatoi{
        padding-left: 25px;
        color: #4e4eec;
        font-size: 17px;
    }
}
.show{
    display: block;
}
