<div class="content-files">
    <div class="header" (click)="changeStatus()">
        <div class="content-left">
            <div class="new float" title="Tạo thư mục mới hoặc tài liệu ở vị trí này">
                <div class="dropdown">
                    <span class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        <span class="glyphicon glyphicon-plus
                                " aria-hidden="true"></span> Mới
                        <span class="glyphicon glyphicon-menu-down
                          "></span>
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li (click)="openDiaLogFolder();">
                            Thư mục
                        </li>
                        <li (click)="openDiaLogFile()">
                            Tài liệu word</li>
                        <li (click)="openDiaLogFileExcel()">
                            Làm việc với Excel
                        </li>
                        <li (click)="openDiaLogFilePowerPoint()">
                            Tài liệu PowerPoint
                        </li>
                    </ul>
                </div>

            </div>
            <div class="updates float" title="Tải tệp từ máy tính của bạn lên, ở vị trí này">
                <div class="dropdown">
                    <span class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        <span class="glyphicon glyphicon-cloud-upload
                " aria-hidden="true"></span> Tải lên
                        <span class="glyphicon glyphicon-menu-down
                              "></span>
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li (click)="uploadFolder.click()">
                            Thư mục
                        </li>
                        <li (click)="uploadFile.click()">
                            Tệp
                        </li>
                    </ul>
                    <!-- Choose upload file -->
                    <input type="file" multiple directory="" webkitdirectory="" #uploadFolder style="display: none;" (change)="onChooseFolder($event)">
                    <input type="file" #uploadFile style="display: none;" (change)="onChooseFile($event)">

                </div>
            </div>
        </div>

        <div class="content-right">
            <div *ngIf="statusDelete === true" class="delete float" (click)="deleteFolder()">
                <span class="btn btn-default glyphicon glyphicon-trash" aria-hidden="true">
                    <span>Xóa</span>
                </span>
            </div>
            <div *ngIf="statusDelete === true" class="float" (click)="renameFolder()">
                <span class="btn btn-default glyphicon glyphicon-pencil" aria-hidden="true">
                    <span>Đổi tên</span>
                </span>
            </div>
            <div class="sapxep float" title="Sắp xếp - hiển thị thư mục">
                <div class="dropdown">
                    <span class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"> </span> Sắp xếp
                        <span class="glyphicon glyphicon-menu-down
                                  "></span>
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li (click)="sortName()">
                            Tên
                        </li>
                        <li (click)="sortName()">
                            Sắp xếp theo loại
                        </li>
                        <li>
                            Kích cỡ
                        </li>
                        <li>
                            Tăng dần giảm dần
                        </li>
                        <li>
                            Lưu thứ tự sắp xếp
                        </li>

                    </ul>
                </div>
            </div>
            <div class="xemtuychon float" title="Chế độ hiển thị">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span>

            </div>
            <div class="thongtin float" title="Thông tin file">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>
            </div>
        </div>
    </div>
    <div class="loadfiles" (click)="onLeftClick()">
        <!-- Contain data -->
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="allFiles" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
                <!-- Name Column -->
                <ng-container matColumnDef="name" style="width: 250px;">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Tên </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.type === 'docx'">
                            <i class="far fa-file-word"></i>
                        </span>
                        <span *ngIf="element.type === 'excel'">
                            <i class="far fa-file-excel"></i>
                        </span>
                        <span *ngIf="element.type === 'pp'">
                            <i class="far fa-file-powerpoint"></i>
                        </span>
                        <span *ngIf="element.type === 'folder'">
                            <i class="far fa-folder"></i>
                        </span>
                        <span *ngIf="element.type === 'png'||element.type === 'jpg'">
                            <i class="far fa-file-image"></i>
                        </span>
                        <span *ngIf="element.type === 'txt'">
                            <i class="far fa-file-alt"></i>
                        </span>
                        {{element.name}}
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày đăng </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date | date: 'medium'}} </mat-cell>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="buttonType">Loại</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="buttonType">{{element.type}}</span>
                    </mat-cell>
                </ng-container>

                <!-- Date Repair Column -->
                <ng-container matColumnDef="daterepair">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ngày sửa </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.daterepair| date: 'medium'}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="statusDelete" id="dele{{row.id}}" (click)="getID(row)" (contextmenu)="getID(row)"
                    (dblclick)="openFolder(row, row.type)" (contextmenu)="onRightClick($event, row)"></mat-row>
            </mat-table>
        </div>
        <!-- Menu right -->
        <div class="menu-right">
            <ul>
                <li (click)="deleteFolder()">Delete folder/file</li>
                <li (click)="renameFolder()">Rename folder/file</li>
                <li>
                    <a href="{{linkImage}}" target="_blank">Download</a>
                </li>
                <li>Details folder/file</li>
            </ul>
        </div>
    </div>
</div>

<div class="details-user">
    <div class="details">
        <div class="div">
            <p class="taikhoan">Tài khoản của tôi</p>
        </div>
        <div *ngFor="let u of user">
            <p class="xinchao">Xin chào: {{u.userName}}</p>
            <p class="email">Địa chỉ Email: {{u.email}}</p>
            <p class="hoso">Hồ sơ của tôi</p>
            <p class="taikhoancuatoi">Tài khoản của tôi</p>
            <p class="dangxuat" (click)="backToHome()">Đăng xuất</p>
        </div>
    </div>
</div>