:host{
    display: flex;
    line-height: 53px;
    background: #333;
    
}
.user{
    color: #ffffff;
    line-height: 59px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}
.details{
    display: none;
}

.show{
    display: block;
    position: absolute;
    bottom: -586%;
    left: -162px;
    color: #ffffff;
    width: 285px;
    background: #333;
    z-index: 1000;
    text-align: center;
}
.item span{
    font-size: 18px;
}
.thongtin-user p {
    color: #fff;
    font-size: 20px;
    line-height: 59px;
    margin: 0;
    position: relative;
    width: 100px;
    top: 0;
    left: 50px;
}
.container{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.right{
    display: flex;
}
.item{
    width: 60px;
    line-height: 59px;
    cursor: pointer;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
    text-align: center;
}
.item:hover{
    background: #e7e7e7;  
    color: #000;
}

