:host{
    display: flex;
    line-height: 53px;
    background: #333;
    
}
.user{
    color: #ffffff;
    line-height: 59px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

.item span{
    font-size: 18px;
}
.thongtin-user p {
    color: #fff;
    font-size: 20px;
    margin: 0;
    position: relative;
    width: 200px;
    margin-left: 30px;
    
}

.container{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    padding: 0;
}
.right{
    display: flex;
}
.item{
    width: 60px;
    line-height: 59px;
    cursor: pointer;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
    text-align: center;
}
.item:hover{
    background: #e7e7e7;  
    color: #000;
    border: transparent;
}

