<div class="menu-bar">
  <div class="timkiem">
      <span class="glyphicon glyphicon-search
      " (click)="search(keyWord)" style="cursor: pointer;" ></span><input type="text" placeholder="Tìm kiếm ..." [(ngModel)]="keyWord" >
  </div>
  <div class="menus">
      <ul>
          <li>Tệp</li>
          <li>Gần đây</li>
          <li>Ảnh</li>
          <li>Đã chia sẻ</li>
          <li>Thùng giác</li>
          <li>PC</li>
      </ul>
  </div>
  <div class="descreption">
      <p>Đã sử dụng dung lượng 300MB trên 5GB</p>
      <div class="duongke">

      </div>
  </div>
  <div class="title">
      <p>Chuyển sang premium</p>
      <p>
          Nhận 1TB (1000GB) dung lượng lưu trữ và các ứng dụng Office 2016 mới.
      </p>
      <p><a href="#">Tìm hiểu thêm</a></p>
      <p><a href="#"> Tải ứng dụng DCloud</a></p>
      
  </div>
</div>