<div class="menu-bar">
    <div class="timkiem">
        <input type="text" #input (keyup)="search(input.value)" placeholder="Tìm kiếm mọi thứ ...">
        <span style="font-size: 20px;"><i class="fa fa-search"></i></span>
    </div>
    <div class="menus">
        <ul>
            <li (click)="processFolder()">Tệp</li>
            <li>Gần đây</li>
            <li>Ảnh</li>
            <li>Đã chia sẻ</li>
            <li (click)="recycleBin()">Thùng rác</li>
            <li>PC</li>
        </ul>
    </div>
    <div class="descreption">
        <p>Đã sử dụng dung lượng 300MB trên 5GB</p>
        <div class="duongke">

        </div>
    </div>
    <div class="title">
        <p>Chuyển sang premium</p>
        <p>
            Nhận 1TB (1000GB) dung lượng lưu trữ và các ứng dụng Office 2016 mới.
        </p>
        <p>
            <a href="#">Tìm hiểu thêm</a>
        </p>
        <p>
            <a href="#"> Tải ứng dụng DCloud</a>
        </p>

    </div>
</div>