<div class="container-fluid">
    <div class="dangnhap">
        <div class="logo">
            <img src="../../assets/logo_cloud.PNG">
            <span>DCloud</span>
        </div>
        <div class="form-dangnhap">
            <form>
                <div class="email">
                    <div class="the-p">
                        <p></p>
                    </div>
                </div>
                <div class="taikhoan">
                    <div class="the-p">
                        <p>Nhập tài khoản</p>
                        <input type="email" placeholder="Nhập địa chỉ email or điện thoại or Skype" #user>
                    </div>
                </div>
                <div class="matkhau">
                    <div class="the-p">
                        <p>Nhập mật khẩu</p>
                        <input type="password" placeholder="Nhập mật khẩu ..." #pass>
                    </div>
                </div>
                <div class="click-dangnhap" (click)="onSubmit(user.value,pass.value);">
                    <p class="btn">Đăng nhập</p>
                </div>
                <a href="" class="btn btn-1">Quên mật khẩu</a>
                <span>
                    <!-- <button [routerLink]="['/register']">Đăng kí ngay</button> -->
                    <a href="" style="text-decoration: underline;" class="btn btn-1" [routerLink]="['/register']">Đăng kí ngay</a>
                </span>
                <a href="" class="btn btn-1">Đăng nhập bằng tài khoản DCloud khác</a>
            </form>

        </div>
    </div>
</div>