.container-fluid{
    background: url(../../assets/background_home2.jpg) no-repeat;
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0;
    .dangnhap{
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        height: 80%;
        background: #fff;
        transition: all 0.3s ease-in-out;
        .logo{
            position: absolute;
            top: 3%;
            left: 18%;
            transform: translate(-18%,-3%);
            img{
                max-width: 40px;
            }
        }
        span{
            font-size: 25px;
            font-weight: bold;
            color: grey;
        }
        .form-dangnhap{
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translate(-50%, -50%);
            // margin-left: 40px;
            .check{
                span{
                    color: gray;
                    font-size: 14px;
                    margin-left: 7px;
                }
            }
            .taikhoan,.email,.matkhau,.matkhauconfirm{
                margin: 20px 0;
            }
            .click-dangnhap{
                width: 315px;
                background: #1010abb5;
                text-align: center;
                margin: 20px 0;
                cursor: pointer;
                button {
                    width: 100%;
                    background: #1010abb5;
                    color: #ffffff;
                    border: none;
                    font-size: 21px;
                }
                
            }
            .click-dangnhap:hover{
                background: #0d0d75e0;
            }
            p.btn.btn-1{
                padding: 8px 0;
            }
            .the-p{
                margin: 10px 0;
                input{
                    height: 40px;
                    width: 315px;
                    padding: 15px 0 15px 5px;
                    margin-left: 1px;
                    font-size: 14px;
                    outline: none;
                    
                }
                input:focus{
                    border-bottom: 1px solid blue;
                }
                p{
                    margin: 20px 0 4px;
                    color: #000;
                    font-size: 18px;
                }
            }
            .signin-google{
                width: 100%;
                background: #0000ffbf;
                margin: 0;
                cursor: pointer;
                a{
                    text-align: center;
                    font-size: 16px;
                    color: #ffffff;
                }
                span{
                    color: #ffffff;
                    font-size: 15px;
                    padding: 11px 28px;
                    overflow: hidden;
                    border-right: 1px solid;
                }
            }
            .signin-google:hover{
                background: #1d1dec;
            }
        }
    }
    .dangnhap:hover{
        box-shadow: 7px 7px 15px #333;
        transition: all 0.4s ease-in-out;
        margin-top: -5px;
    }
    .alert{
        margin: 5px 0 0 0;
        padding: 5px;
    }
}
