<div class="container-fluid">
    <div class="dangnhap">
        <div class="logo" [routerLink]="['/home']" style="cursor: pointer;">
            <img src="../../assets/logo_cloud.PNG">
            <span>DCloud</span>
        </div>
        <div class="form-dangnhap">
            <form [formGroup]="registerForm">
                <div class="taikhoan">
                    <div class="the-p">
                        <input type="text" id="userName" placeholder="Nhập tài khoản ..." formControlName="userName" [(ngModel)]="user">
                    </div>
                </div>
                <div class="email">
                    <div class="the-p">
                        <input type="email" name="" id="email" placeholder="Nhập địa chỉ email của bạn ... " formControlName="email" [(ngModel)]="email">
                    </div>
                </div>
                <div class="matkhau">
                    <div class="the-p">
                        <input type="password" id="passWord" placeholder="Nhập mật khẩu ..." formControlName="passWord" [(ngModel)]="pass">
                    </div>
                </div>
                <div class="matkhauconfirm">
                    <div class="the-p">
                        <input type="password" id="passWordConfirm" placeholder="Nhập lại mật khẩu ..." formControlName="passWordConfirm" [(ngModel)]="passConfirm">
                    </div>
                </div>
                <div class="check">
                    <input type="checkbox" [name]="checked" (click)="checkedBox()">
                    <span>Tôi đồng ý với điều khoản của DCloud</span>
                </div>
                <div class="click-dangnhap">
                    <button (click)="creatAccount()">Create an account</button>
                </div>
                <a class="btn btn-1" [routerLink]="['/login']">Đăng nhập bằng tài khoản DCloud khác</a>
                <p class="signin-google">
                    <span>
                        <i class="fab fa-google"></i>
                    </span>
                    <a href="" class="btn btn-1 google">Sign in with Google</a>
                </p>
            </form>
        </div>
    </div>
</div>